@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Roboto:wght@300&family=Source+Sans+Pro&display=swap');
*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
    font-family: 'Roboto', sans-serif;
}

/*Contenido album*/


.album{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.album img{
    margin-top: 100px;
    margin:  0 8px;
    width: 350px;
    height: 350px;
}

/*LETRAS*/
.album p{
    margin: 0 8px ;
    letter-spacing: 1px;
    line-height: 1;
    padding-bottom: 1rem;
}

h3{
    text-align: left;
    font-size: 50px;
    padding: 1.5em;
}

.cancion{
    font-weight: bolder;
}

.boton{
    background: linear-gradient(102deg,#983D99 40% , #983EFF 60% );
    color: #fefefe;
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: .25rem;
    min-width: 200px;
    text-decoration: none;
    margin: 2rem;
    text-align: right;
}


/*Section 2*/

.listas{
    display:block;

}

/*.listas{
=======
/*Section listas*/

.listas{
    margin-top: 150px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.listas img{
    margin:  0 8px;
    width: 350px;
    height: 350px;
}

.listas p{
    
    margin: 0 8px ;
    letter-spacing: 1px;
    line-height: 1;
    padding-bottom: 1rem;    
    
}

.listas p{
    font-weight: bolder;
}
.listas img{
   
    margin: 5px;
    width: 350px;
    height: 350px;
    border-radius: 30px;
    transition: 0.5s;

}

a:hover img{
    width: 370px;
    height: 370px;
}

h4{
    position: absolute;
    font-size: 50px;
    padding: 1em;
    margin: 0 30px;
    
}



/*section canciones top*/

.canciones-top{
    font-family: 'Roboto', sans-serif;
}

.canciones-top{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   /* align-items: flex-end;*/

}

.canciones-top img{
    margin:  0 8px;
    width: 350px;
    height: 350px;
}

/*LETRAS SECTION 3*/
.canciones-top P{
    margin: 0 8px ;
    letter-spacing: 1px;
    line-height: 1;
    padding-bottom: 1rem;    
}

.canciones-top .cancion {
    font-weight: bolder;
}

